:root {
  --brand-color: #2196f3;
  --background-color: #2f303a;
  --color-secondary: #212121;
}
* {
  margin: 0;
  padding: 0;
  border-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding-top: 10px;
  padding-right: 41px;
  padding-bottom: 10px;
  padding-left: 42px;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 14px;
}
li {
  list-style: none;
}
.section {
  padding: 94px 0;
}
.logo {
  margin-right: 93px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.menu,
.contacts,
nav,
.header-section,
.advantages,
.example-list,
.aboutus-list,
.portfolio-categories {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
}
.header-section {
  padding-top: 24px;
  padding-bottom: 25px;
  justify-content: space-around;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.logo,
.footer-logo {
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--brand-color);
  line-height: 1.2px;
  letter-spacing: 0.03em;
}
.logo span {
  color: #000000;
}
.menu a {
  color: var(--color-secondary);
}
.middle-menu-element {
  padding-left: 46px;
  padding-right: 46px;
}
.mail {
  padding-right: 50px;
}
.menu a,
.contacts a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.menu a:focus,
.menu a:hover,
.contacts :focus,
.contacts :hover,
.footer-contacts a:focus,
.footer-contacts a:hover {
  color: var(--brand-color);
}
.contacts a {
  color: #757575;
}
.introduction {
  background-color: var(--background-color);
}
.introduction-padding {
  padding: 106px 0;
  max-width: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: #fff;
  padding-bottom: 30px;
}
.slogan-button {
  border: none;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--brand-color);
}
.portfolio-categories li:not(:last-child) {
  margin-right: 8px;
}
.advantages li:not(:last-child),
.aboutus-list li:not(:last-child),
.example-list li:not(:last-child) {
  margin-right: 30px;
}
.aboutus-list {
  text-align: center;
}
.aboutus-list li {
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}

.advantages h3 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  padding-bottom: 10px;
}
.advantages p {
  line-height: 1.7;
}
.advantages {
  padding-bottom: 94px;
}
.example-header,
.aboutus-header {
  text-align: center;
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  padding-bottom: 50px;
}
.aboutus {
  background: #f5f4fa;
}

.aboutus-list h3 {
  font-weight: 500;
  color: var(--color-secondary);
  padding-top: 30px;
  padding-bottom: 10px;
}
.aboutus-list p,
.aboutus-list h3 {
  font-size: 16px;
  line-height: 1.2;
}
footer {
  background: var(--background-color);
}
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo span {
  color: #fff;
}
.footer_adres {
  font-style: normal;
  line-height: 1.7;
  color: #fff;
}
.footer-contacts a {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-categories button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-secondary);
  background-color: #f5f4fa;
  border-radius: 4px;
}
.portfolio-categories {
  justify-content: center;
}

.portfolio-categories button:focus,
.portfolio-categories button:hover {
  background-color: var(--brand-color);
  color: #fff;
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}
.portfolio-item {
  display: block;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
}
.portfolio-img h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-secondary);
}
.portfolio-img p {
  font-size: 16px;
  line-height: 1.9;
}
